body {
    background-color: #1a1a1a;
    color: #ffffff;
    font-family: Arial, sans-serif;
}

.header-container {
    font-weight: 700;
    font-size: 50px;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 20px;
}

.header-text {
    color: #ff3333;
    margin: 10px 0 50px 0;
}

.header-text:hover {
    animation: rainbow 4s infinite;
}

@keyframes rainbow {
    0% { color: #ff3333; }
    10% { color: orange; }
    20% { color: yellow; }
    30% { color: green; }
    40% { color: blue; }
    50% { color: indigo; }
    60% { color: violet; }
    70% { color: purple; }
    80% { color: pink; }
    90% { color: cyan; }
    100% { color: #ff3333; }
}

.content {
    font-size: 17px;
    display: flex;
    flex-direction: column;
    font-size: 25px;
    align-items: center;
    gap: 40px;
    text-align: center;
}

.break-line-horizontal {
    width: 70%;
    height: 1px;
    background-color: #8b0000;
}

a {
    color: #ff3333;
    text-decoration: none;
    position: relative;
}

a::before {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #ff3333;
    transform: scaleX(0);
    transition: transform 0.3s ease-in-out;
}

a:hover::before {
    transform: scaleX(1);
}

.text {
    color: #ccc;
    text-decoration: none;
    position: relative;
    max-width: 50%;
}

.text::before {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: lightgrey;
    opacity: 0.1;
    transform: scaleX(0);
    transition: transform 0.3s ease-in-out, opacity 0.8s ease-in-out;
}


.email-link {
    display: flex;
    gap: 15px;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 8px;
    background-color: #111111;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.email-link::before {
    content: "";
    position: absolute;
    bottom: 15px;
    left: 17px;
    width: 90%;
    height: 2px;
    background: #007bff;
    background-size: 200% auto;
    background-position: 0 0;
}

.headline {
    font-size: 35px;
    font-weight: bold;
    color: lightgrey;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    margin-bottom: 20px;
}

.project-types {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    padding: 10px;
    border-radius: 8px;
    background-color: #111111;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.dead-link {
    opacity: 0.5;
    color: lightgray;
    pointer-events: none;
    margin: 0 0 0 0;
}

@keyframes working {
    0% {
        opacity: 0.5;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0.5;
    }
}

.projects {
    display: flex;
    flex-direction: column;
    gap:20px;
}

.working-projects {
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: center;
}

.working-indicator {
    width: 20px;
    height: 20px;
    background-color: lightgreen;
    border-radius: 50%;
    animation: working 2s ease-in-out infinite;
}

.deprecated-indicator {
    width: 20px;
    height: 20px;
    background-color: #333333;
    border-radius: 50%;
    border: 2px solid #ffffff;
    position: relative;
}

.deprecated-indicator::before,
.deprecated-indicator::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 10px;
    height: 2px;
    background-color: #ffffff;
    transform: translate(-50%, -50%) rotate(45deg);
}

.deprecated-indicator::after {
    transform: translate(-50%, -50%) rotate(-45deg);
}


.deprecated-projects {
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: center;
}

.loading-projects {
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: center;
}

.loading-icon {
    width: 20px;
    height: 20px;
    border: 2px solid lightgray;
    border-top-color: #ff3333;
    border-radius: 50%;
    animation: loading 3s linear infinite;
}

@keyframes loading {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

a.dead-link {
    color: #ff3333;
    text-decoration: none !important;
    position: relative;
}

@media only screen and (max-width: 600px) {
    .text {
        max-width: 100%;
    }

    .header-container {
        margin-top: 25px;
        font-weight: 700;
        font-size: 30px; /* Increased font size for mobile */
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-bottom: 50px;
    }

    .quote {
        margin-left: 30px;
        font-size: medium; /* Increased font size for mobile */
    }

    .content {
        font-size: 17px;
        display: flex;
        flex-direction: column;
        font-size: 25px;
        align-items: center;
        gap: 40px;
    }

    .text:hover::before {
        transform: scaleX(0);
    }

    a {
        color: #ff3333;
        text-decoration: underline;
    }

    a:hover::before {
        transform: scaleX(0);
    }
}
