*{
    font-family: Archivo;
    color: #707070;
}

@media only screen and (min-width: 768px){
    .maincontent{
        margin: 10%;
    }

    .headline {
        font-size: 60px;
        margin-bottom: 110px;
    }

    .accordion-button{
        font-size: 24px;
    }

    .container-accordion {
        font-size: 18px;
    }
}

@media only screen and (max-width: 768px){
    .maincontent{
        margin: 2%;
    }

    .headline{
        font-size: 50px;
        margin-bottom: 100px;
    }

    .accordion-button{
        font-size: 20px;
    }

    .container-accordion {
        font-size: 16px;
    }
}

.maincontent {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.container-accordion {
    max-height: 0;
    float: left;
    width: 95%;
    padding-left: 1em;
    overflow-y: hidden;
    transition: max-height 0.4s ease-out;
}

.accordion-button__headline{
    display: flex;
    padding-right: 1em;
}

.accordion-button__headline:hover *{
    color: #931919;
}

.accordion-button {
    font-weight: 600;
    background-color: transparent;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
}

.active {
    .arrow {
        transform-origin: center center;
        transform: rotate(180deg);

    }
}

.underline {
    border-top: 1px solid #A8A7A7;
    width: 100%;
}

.arrow {
    width: 22.6px;
    height: 13.94px;
    align-self: center;

    transition: transform 0.2s ease;
}

.headline {
    text-align: center;
    font-weight: bold;
}
